* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body {
    margin: 0 auto;
}
.header {
    padding: 40px;
    background-color:#1abc9c;
    text-align: center;
    color: #fff;
}
.navbar {
    display: flex;
    background-color: black;
}
.navbar a {
    padding: 10px 20px;
    color: #fff;
    text-align: center;
    text-decoration: none;
}
.navbar a:hover {
    background-color: darkgray;
    color: gold;
}
.box {
    display: flex;
    flex-wrap: wrap;
}    
.side {
    background-color: cornflowerblue;
    flex: 30%;
    padding: 20px;
}
.main {
    flex: 70%;
    background-color: rosybrown;
    padding: 20px;
    line-height: 30px;
}
.side h1 {
    line-height: 50px;
}
.side li {
    margin-left: 40px;
}
.detail {
    flex: 70%;
    line-height: 20px;
}
@media screen and (max-width: 700px) {
    .box,
    .navbar {
      flex-direction: column;
    }
  }