* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: rgb(229, 220, 238);
}
.navbar ul {
    list-style-type: none;
    margin: 0px;
    padding: 0;
    overflow: hidden;
    background-color:slateblue;
}
.navbar li {
    display: inline;
    float: left;
}
.navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px 14px;
    text-decoration: none;
}
.navbar li a:hover:not(.avtive) {
    background-color:gold;
    color: black;
}
#inform {
    position: absolute;
    left: 620px;
    top: 650px;
}
#button {
    background-color:#858EDC;
    border: none;
    color: #FFFFFF;
    padding: 3px 8px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
}
.a4 {
    position: absolute;
    width: 595px;
    height: 780px;
    background: #FFFFFF;
    font-family:Arial, Helvetica, sans-serif;
}
/* separate 2 partitions on one A4 sheet */
.par-right {
    position: absolute;
    width: 290px;
    height: 730px;
    left: 287px;
    top: 23px;
    background: rgba(231, 231, 231, 0.72);
    color: #000000;
}
.par-left {
    position: absolute;
    width: 290px;
    height: 730px;
    top: 1.5px;
    left: 1px;
}
/* component in purple box */
.head {
    position: absolute;
    width: 259px;
    height: 360px;
    left: 20px;
    top: 23px;
    background: #858EDC;
    box-shadow: inset 5px 5px 10px rgba(0, 0, 0, 0.25);
    overflow:hidden;
}
.circle {
    position: absolute;
    width: 64px;
    height: 60px;
    left: -30px;
    top: -8px;
    border-radius: 50%;
    background-color: transparent;
    background: #FFFFFF;
    box-shadow: inset 25px 5px 15px  rgba(0, 0, 0, 0.25);
}
.line {
    position: absolute;
    width: 210px;
    height: 1px;
    left: 16.29px;
    top: 226.9px;
    border: 1px solid #B0B3F5;
}
.poligon {
    position: absolute;
    width: 25px;
    height: 23.45px;
    left: 235.29px;
    top: 213px;
    border-right:25px solid #FFFFFF;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
}
.desire {
    position: absolute;
    left: 40px;
    width: 220;
    height: auto;
    top: 260px;
}
.desire h1 {
    font-size: medium;
    text-align: left;
    color: #FFFFFF;
    line-height: 30px;
}
.desire p {
    text-align: left;
    font-size: small;
    color: #FFFFFF;
}
img {
    position: absolute;
    width: 196px;
    height: 188px;
    left: 32px;
    top: 15px;
    border-radius: 50%;
}
/* setting head topic all the same */
h1 {
    font-size: medium;
    text-align: left;
    line-height: 30px;
}
/* setting elements in right partition */
.name p {
    position: absolute;
    width: 270px;
    height: 156px;
    left: 30px;
    top: 30px;
    text-align: left;
    font-weight: 700;
    font-size: 38px;
    line-height: 40px;
}
.line2 {
    position: absolute;
    width: 230px;
    height: 1px;
    left: 30px;
    top: 139px;
    border: 1.5px solid gray;
}
.me {
    position: absolute;
    left: 30px;
    width: 240px;
    height: auto;
    top: 150px;
}
.me p {
    text-align: left;
    font-size: small;
}
.detail {
    position: absolute;
    left: 30px;
    width: 270px;
    height: auto;
    top: 220px;
}
.detail li {
    font-size: small;
    text-align: left;
    list-style-type: none;
}
.edu {
    position: absolute;
    left: 30px;
    width: 270px;
    height: auto;
    top: 340px;
}
.edu p {
    text-align: left;
    font-size: small;
}
.act {
    position: absolute;
    left: 30px;
    width: 240;
    height: auto;
    top: 440px;
}
.act p {
    text-align: left;
    font-size: small;
}
/* setting elements in left partition */
.skill {
    position: absolute;
    left: 40px;
    height: auto;
    top: 390px;
}
.skill p {
    font-size: small;
}
#sk {
    text-indent: 30px;
}
.softskill {
    position: absolute;
    left: 40px;
    height: auto;
    top: 520px;
}
.softskill li {
    font-size: small;
    margin-left: 40px;
}
.contact {
    position: absolute;
    left: 40px;
    height: auto;
    top: 620px;
}
.contact table {
    font-size: small;
    margin-left: 25px;
}
#fb {
    position: absolute;
    left: 70px;
    width: 30px;
    height: auto;
    top: 700px;
}
#int {
    position: absolute;
    left: 110px;
    width: 30px;
    height: auto;
    top: 700px;
}
